{% extends "base.html" %}

<!--  -->
{% block styles %}
<link rel="stylesheet" href="/course_list.css" />
{% endblock %}

<!--  -->
{% block page_content %}
<div class="paper">

    <div class ="paper-terms"> 
        <lable>当前学期为：</lable>
        <input type="text" name = "term" id = "current_term" value ="2020-2021" height="16px">
        <input type="button" value="查询课程计划" id = "change_termbtn">
    </div>
    <div class="paper-head">
        <span id="new-btn" class="btn">新建课程计划</span>
        <span id = "choose-btn" class = "btn">学生选课</span>
    </div>

    <!--添加表格属性名-->
    <div class="paper-body">
        <table id="course-table" class="table">
            <thead>
                <tr>
                    <th class="col-cou_name">课程</th>
                    <th class="col-cou_no">课程号</th>
                    <th class="col-place">上课地点</th>
                    <th class="col-time">上课时间</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <!--新填一个课程信息，执行其他操作通过javascript-->
    <div class="course-editor dialog-background">
        <form class="dialog">
            <div class="dialog-head"></div>
            <div class="dialog-body">
                <input type="hidden" name="courseplan_sn" />
                <input type="hidden" name="term" />
                <input type="hidden" name=""/>
                <label>课程号: </label>
                <input type="text" name="no" />
                <label>上课时间: </label>
                <input type="text" name="time" />
                <label>课程名: </label>
                <input type="text" name="name" />
                <label>上课地点: </label>
                <input type="text" name="place" />
            </div>
            <div class="dialog-footer">
                <a id="save-btn" class="btn">保存</a>
                <a id="close-btn" class="btn">关闭</a>
            </div>
        </form>
    </div>

    <!--确定是否删除界面-->
    <div class="comfirmation-dialog dialog-background">
        <form class="dialog">
            <div class="dialog-head"></div>
            <div class="dialog-body">
                <div id="message"></div>
            </div>
            <div class="dialog-footer">
                <a id="ok-btn" class="btn">确定</a>
                <a id="cancel-btn" class="btn">放弃</a>
            </div>
        </form>
    </div>


    <!--添加课程成绩页面-->
    <div class="add_course_grade_dialog">
        <form class="dialog">

            <div class = grade_dialog_head></div>
            <div class="paper-body">
                <table id="addgarde-table">
                    <thead>
                        <tr>
                            <th class="col-stu_name">学生姓名</th>
                            <th class="col-stu_no">分数</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="dialog-footer first">
                <a id="ok-btn" class="btn">确定</a>
                <a id="back-btn" class="btn">返回</a>
            </div>
            
            <!--添加成绩框-->
            <div class="addgrade-dialog">
                <div class="ope_dialog">
                    <div class='dialog-header'>
                        <label>成绩: </label>
                        <input type="text" name="grade" />
                    </div>
                    <div class="dialog-footer">
                        <a id="addgrade_save-btn" class="btn">保存</a>
                        <a id="addgrade_close-btn" class="btn">关闭</a>
                    </div>
                </div>
            </div>

        </form>
   </div>


   <!--选课界面-->
   <div class="select_course_grade_dialog">
    <form class="dialog">
        <div class = select_dialog_head>--选课界面--</div>
        <div class ="paper-terms"> 
            <lable>学生姓名：</lable>
            <input type="text" name = "student_name" id = "choose_course_studentname" height="16px">
            <lable>选课学期：</lable>
            <input type="text" name = "term" id = "choose_course_term" height="16px">
            <input type="button" value="查询课程计划" id = "change_choose_termbtn" class = "btn">
        </div>
        <div class="paper-body">
            <table id="choose_course-table" class="table">
                <thead>
                    <tr>
                        <th class="col-stu_name">课程</th>
                        <th class="col-stu_no">课程号</th>
                        <th class="col-place">上课地点</th>
                        <th class="col-time">上课时间</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="dialog-footer">
            <a id="ok-btn" class="btn">保存</a>
            <a id="choose_course_back-btn" class="btn">返回</a>
        </div>
    </form>
</div>

</div>
<script src="/course.js"></script>
   
{% endblock %}
  